{% extends 'base.html' %}

{% load static %}

{% block title %}
  Редактировать задачу
{% endblock %}

{% block content %}
  <h5 class="alert alert-success">Редактировать</h5>

  <form method="POST" action="">
    {% csrf_token %}
    <p>{{ form.title }}</p>
    <p>{{ form.description }}</p>
    <p>
      <label class="form-check-label" for="id_complete">Задача выполнена?</label>
      {{ form.complete }}
    </p>
    <p id="task_created">
      Создан: <span id="task_created_date">{{ task.created }}</span>
    </p>
    <p id="task_updated">
      Обновлен: <span id="task_updated_date">{{ task.updated }}</span>
    </p>
    <div class="cancel_confirm_buttons">
      <a href="{% url 'list' %}" class="btn btn-primary cancel_button">Отмена</a>
      <input class="btn btn-success confirm_button" type="submit"
             name="update_task" value="Обновить">
    </div>
  </form>
{% endblock %}
